/* #buttonsdiv {
    padding: 4%;
    margin: 4%;
    border: solid 2px;
    background-color: rgb(112, 142, 112);
}

#imageshere {
    align-items: center: padding: 4%;
    margin: 4%;
    border: solid 2px;
    background-color: rgb(112, 142, 112)
} */